<div class="box">  
  <div class="tl"></div>
  <div class="big_tm"></div>
  <div class="tr"></div> 
  <div class="big_content">
    <div id="instructions">
      <h2>Build Your App</h2>
      <p>rails new <your-app> -m http://github.com/jbasdf/rails-templates/raw/master/muck.rb</p>
        
      Add optional functionality with the following command:
        $ rake rails:template LOCATION=http://github.com/jbasdf/rails-templates/raw/master/muck_too.rb

      Add testing frameworks and macros:
        $ rake rails:template LOCATION=http://github.com/jbasdf/rails-templates/raw/master/muck_test.rb

      Layout
      =======
      The muck template will build your basic application and construct all the needed files and configuration.

      If you build your own layout be sure to include the following script in your layout or the javascript in the system won't work:
        <script type="text/javascript" language="JavaScript">
          <%= yield :javascript %>
        </script>


      Copyright (c) 2009-2011 Justin Ball, released under the MIT license
      
      
    </div>
    <div style="float:right;"><a href="#"><img src="images/shoutout.png" /></a></div>
  </div>
  <div class="bl"></div>
  <div class="big_bm"></div>
  <div class="br"></div>
</div>

<div class="clear_footer"></div> 

<div class="box"> 
  <div class="tl"></div><div class="small_tm"></div><div class="tr"></div> 
  <div class="small_content"><h1>Muck-Activities</h1></div>
  <div class="bl"></div><div class="small_bm"></div><div class="br"></div> 
</div>

<div class="box">  
  <div class="tl"></div><div class="small_tm"></div><div class="tr"></div> 
  <div class="small_content"><h1>Muck-Auth</h1></div>
  <div class="bl"></div><div class="small_bm"></div><div class="br"></div> 
</div>

<div class="box"> 
  <div class="tl"></div><div class="small_tm"></div><div class="tr"></div> 
  <div class="small_content"><h1>Muck-Blogs</h1></div>
  <div class="bl"></div><div class="small_bm"></div><div class="br"></div> 
</div>

<div class="box"> 
  <div class="tl"></div><div class="small_tm"></div><div class="tr"></div> 
  <div class="small_content"><h1>Muck-Comments</h1></div>
  <div class="bl"></div><div class="small_bm"></div><div class="br"></div> 
</div>

<div class="clear_footer"></div> 

<div class="box"> 
  <div class="tl"></div><div class="small_tm"></div><div class="tr"></div> 
  <div class="small_content"><h1>Muck-Commerce</h1></div>
  <div class="bl"></div><div class="small_bm"></div><div class="br"></div> 
</div>

<div class="box">  
  <div class="tl"></div><div class="small_tm"></div><div class="tr"></div> 
  <div class="small_content"><h1>Muck-Contents</h1></div>
  <div class="bl"></div><div class="small_bm"></div><div class="br"></div> 
</div>

<div class="box"> 
  <div class="tl"></div><div class="small_tm"></div><div class="tr"></div> 
  <div class="small_content"><h1>Muck-Engine</h1></div>
  <div class="bl"></div><div class="small_bm"></div><div class="br"></div> 
</div>

<div class="box"> 
  <div class="tl"></div><div class="small_tm"></div><div class="tr"></div> 
  <div class="small_content"><h1>Muck-Events</h1></div>
  <div class="bl"></div><div class="small_bm"></div><div class="br"></div> 
</div>

<div class="clear_footer"></div>  

<div class="box"> 
  <div class="tl"></div><div class="small_tm"></div><div class="tr"></div> 
  <div class="small_content"><h1>Muck-Feedbag</h1></div>
  <div class="bl"></div><div class="small_bm"></div><div class="br"></div> 
</div>

<div class="box">  
  <div class="tl"></div><div class="small_tm"></div><div class="tr"></div> 
  <div class="small_content"><h1>Muck-Friends</h1> </div>
  <div class="bl"></div><div class="small_bm"></div><div class="br"></div> 
</div>

<div class="box"> 
  <div class="tl"></div><div class="small_tm"></div><div class="tr"></div> 
  <div class="small_content"><h1>Muck-Groups</h1></div>
  <div class="bl"></div><div class="small_bm"></div><div class="br"></div> 
</div>

<div class="box"> 
  <div class="tl"></div><div class="small_tm"></div><div class="tr"></div> 
  <div class="small_content"><h1>Muck-Invites</h1></div>
  <div class="bl"></div><div class="small_bm"></div><div class="br"></div> 
</div>

<div class="clear_footer"></div> 

<div class="box"> 
  <div class="tl"></div><div class="small_tm"></div><div class="tr"></div> 
  <div class="small_content"><h1>Muck-Profiles</h1></div>
  <div class="bl"></div><div class="small_bm"></div><div class="br"></div> 
</div>

<div class="box">  
  <div class="tl"></div><div class="small_tm"></div><div class="tr"></div> 
  <div class="small_content"><h1>Muck-Raker</h1></div>
  <div class="bl"></div><div class="small_bm"></div><div class="br"></div> 
</div>

<div class="box"> 
  <div class="tl"></div><div class="small_tm"></div><div class="tr"></div> 
  <div class="small_content"><h1>Muck-Resources</h1></div>
  <div class="bl"></div><div class="small_bm"></div><div class="br"></div> 
</div>

<div class="box"> 
  <div class="tl"></div><div class="small_tm"></div><div class="tr"></div> 
  <div class="small_content"><h1>Muck-Services</h1></div>
  <div class="bl"></div><div class="small_bm"></div><div class="br"></div> 
</div>

<div class="clear_footer"></div> 

<div class="box"> 
  <div class="tl"></div><div class="small_tm"></div><div class="tr"></div> 
  <div class="small_content"><h1>Muck-Shares</h1></div>
  <div class="bl"></div><div class="small_bm"></div><div class="br"></div> 
</div>

<div class="box">  
  <div class="tl"></div><div class="small_tm"></div><div class="tr"></div> 
  <div class="small_content"><h1>Muck-Users</h1></div>
  <div class="bl"></div><div class="small_bm"></div><div class="br"></div> 
</div>

<div class="clear_footer"></div> 

<div id="column_left"> 
  <h2>Testimonials</h2> 
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis purus id nulla luctus tincidunt. Vestibulum varius ultrices erat, vitae posuere risus sollicitudin quis. Pellentesque sodales consequat diam eget laoreet. </p> 
  <p>&nbsp;</p> 
  <p>Cras eleifend leo sit amet arcu pulvinar ac porta mauris laoreet. Donec ut lorem tristique lorem aliquet pretium. Quisque felis dui, tincidunt et dictum ut, lobortis at magna. Donec tincidunt varius consectetur.</p> 
  <p>&nbsp;</p> 
  <p> Sed elementum pellentesque elit, sit amet hendrerit tellus egestas vel. Suspendisse tristique magna erat, id dignissim massa. </p> 
  <p>&nbsp;</p> 
  <p>Proin tempor quam nec dolor egestas ultrices. Donec in diam at mauris interdum auctor. </p> 
  <p>&nbsp;</p> 
  <p>Donec vulputate urna vitae purus ultricies quis congue lacus ultricies.</p> 
  <br /> 
</div>

<div id="column_right"><h2>In The News</h2> 
  <p>Sed facilisis ultrices est, et feugiat mi cursus a. Cras tristique, neque quis placerat lobortis, nunc ipsum mollis risus, at tristique magna metus aliquet magna. Aliquam erat volutpat.</p> 
  <p>&nbsp;</p> 
  <p> Duis luctus egestas massa eu congue. Donec lorem felis, mollis eu sodales at, laoreet vitae augue. Praesent sodales urna non nunc pellentesque vitae rutrum nulla molestie. </p> 
  <p>&nbsp;</p> 
  <p>Quisque ac nisl dictum dolor tincidunt molestie. Vestibulum elit nisl, iaculis et tempus eu, varius quis quam. Integer tempus dapibus pellentesque. Donec aliquet nulla eu enim aliquet eu bibendum ligula mollis. Mauris sit amet enim mi, id consectetur lorem. </p> 
  <p>&nbsp;</p> 
  <p>Phasellus ultrices, mi nec fringilla placerat, lectus erat placerat leo, non imperdiet velit tortor a dui. Donec congue suscipit mollis. Donec sed suscipit purus. Curabitur non suscipit eros. </p> 
  <p>&nbsp;</p> 
  <p>Nunc fringilla orci at urna aliquet ut consequat purus rutrum. Etiam auctor placerat ipsum, quis bibendum sapien sollicitudin non.</p> 
</div>

<div class="clear_footer"></div>