<div class="box">  
  <div class="tl"></div>
  <div class="big_tm"></div>
  <div class="tr"></div> 
  <div class="big_content">
    <div id="instructions">
      <h2>1. Build Your App With Muck</h2>
      <p>rails new <your-app> -m https://github.com/jbasdf/rails-templates/raw/master/muck.rb</p>
      
      <h2>2. Lay the Muck on Thicker</h2>
      <p>rake rails:template LOCATION=https://github.com/jbasdf/rails-templates/raw/master/muck_too.rb</p>

      <h2>3. Muck is Nasty. Add Tests</h2>
      <p>rake rails:template LOCATION=https://github.com/jbasdf/rails-templates/raw/master/muck_test.rb</p>

      <h2>4. Be Shocked</h2>
      <p>Your app is totally mucked.</p>
    </div>
    <div style="float:right;"><a href="#"><img src="images/shoutout.png" /></a></div>
  </div>
  <div class="bl"></div>
  <div class="big_bm"></div>
  <div class="br"></div>
</div>


<div class="clear_footer"></div> 


<div class="box"> 
  <div class="tl"></div><div class="small_tm"></div><div class="tr"></div> 
  <div class="small_content">
    <h1><a href="https://github.com/tatemae/muck-engine">Muck-Engine</a></h1>
    <img src="images/icons/engine4.png" class="icons"> 
    <p>The heart of muck.</p>
  </div>
  <div class="bl"></div><div class="small_bm"></div><div class="br"></div> 
</div>

<div class="box">  
  <div class="tl"></div><div class="small_tm"></div><div class="tr"></div> 
  <div class="small_content"> 
    <h1><a href="https://github.com/tatemae/muck-users">Muck-Users</a></h1> 
    <img src="images/icons/users.png" class="icons" />
    <p>Sign up, Sign in, Lose password, Recover Password. Manage users and roles.</p> 
  </div> 
  <div class="bl"></div><div class="small_bm"></div><div class="br"></div> 
</div> 

<div class="box"> 
  <div class="tl"></div><div class="small_tm"></div><div class="tr"></div> 
  <div class="small_content"> 
    <h1><a href="https://github.com/tatemae/muck-activities">Muck-Activities</a></h1>
    <img src="images/icons/activities.png" class="icons" /> 
    <p>Users need something to do. Add ambiguous activities like Facebook but not.</p>
     
  </div> 
  <div class="bl"></div><div class="small_bm"></div><div class="br"></div> 
</div> 

<div class="box">  
  <div class="tl"></div><div class="small_tm"></div><div class="tr"></div> 
  <div class="small_content"> 
    <h1><a href="https://github.com/tatemae/muck-contents">Muck-Contents</a></h1> 
    <img src="images/icons/contents2.png" class="icons" />
    <p>Add content to your site with a WYSIWYG and wiki like reckless abandon.</p> 
  </div> 
  <div class="bl"></div><div class="small_bm"></div><div class="br"></div> 
</div>


<div class="clear_footer"></div>

<div class="box"> 
  <div class="tl"></div><div class="small_tm"></div><div class="tr"></div> 
  <div class="small_content"> 
    <h1><a href="https://github.com/tatemae/muck-profiles">Muck-Profiles</a></h1>
    <img src="images/icons/profile2.png" class="icons" /> 
    <p>Get to know your neighbor. What do they like? Where do they live?. What kind of mucker are they?</p> 
  </div> 
  <div class="bl"></div><div class="small_bm"></div><div class="br"></div> 
</div> 
 
<div class="box"> 
  <div class="tl"></div><div class="small_tm"></div><div class="tr"></div> 
  <div class="small_content"> 
    <h1>Muck-Commerce<a style="display:none;" href="https://github.com/tatemae/muck-commerce">Muck-Commerce</a></h1>
    <img src="images/icons/commerce1.png" class="icons" /> 
    <p>We all need some money. Think of Muck-Commerce as your cash machine. <span class="not-done">Cleaning, upgrading and not yet public</span></p> 
  </div> 
  <div class="bl"></div><div class="small_bm"></div><div class="br"></div> 
</div> 
 
<div class="box">  
  <div class="tl"></div><div class="small_tm"></div><div class="tr"></div> 
  <div class="small_content"> 
    <h1><a href="https://github.com/tatemae/muck-friends">Muck-Friends</a></h1> 
    <img src="images/icons/friends1.png" class="icons" />
    <p>Connect with your muck buddies. Friends can be follow or two-way depending on how you roll.</p> 
  </div> 
  <div class="bl"></div><div class="small_bm"></div><div class="br"></div> 
</div>



<div class="clear_footer"></div> 

<div class="box"> 
  <div class="tl"></div><div class="small_tm"></div><div class="tr"></div> 
  <div class="small_content"> 
    <h1><a href="https://github.com/tatemae/muck-comments">Muck-Comments</a></h1> 
    <img src="images/icons/comments2.png" class="icons" />
    <p>Help your users speak their mind. Comments can be attached to just about anything.</p> 
  </div> 
  <div class="bl"></div><div class="small_bm"></div><div class="br"></div> 
</div> 
 
<div class="box">  
  <div class="tl"></div><div class="small_tm"></div><div class="tr"></div> 
  <div class="small_content"> 
    <h1><a href="https://github.com/tatemae/muck-auth">Muck-Auth</a></h1>
    <img src="images/icons/auth3.png" class="icons" /> 
    <p>Use Auth to hookup with services all over the internet. Promiscuous aren't we?</p> 
  </div> 
  <div class="bl"></div><div class="small_bm"></div><div class="br"></div> 
</div> 
 
<div class="box"> 
  <div class="tl"></div><div class="small_tm"></div><div class="tr"></div> 
  <div class="small_content"> 
    <h1><a href="https://github.com/tatemae/muck-invites">Muck-Invites</a></h1>
    <img src="images/icons/invite1.png" class="icons" /> 
    <p>We're happier when we're together with friends. Added sophisticated invites to your muck site.</p> 
  </div> 
  <div class="bl"></div><div class="small_bm"></div><div class="br"></div> 
</div> 
 
<div class="box"> 
  <div class="tl"></div><div class="small_tm"></div><div class="tr"></div> 
  <div class="small_content"> 
    <h1><a href="https://github.com/tatemae/muck-services">Muck-Services</a></h1>
    <img src="images/icons/services1.png" class="icons" />
    <p>Aggregate, search and recommend</p> 
  </div> 
  <div class="bl"></div><div class="small_bm"></div><div class="br"></div> 
</div>



<div class="clear_footer"></div> 

<div class="empty-box">&nbsp;</div>

<div class="box"> 
  <div class="tl"></div><div class="small_tm"></div><div class="tr"></div> 
  <div class="small_content"> 
    <h1><a href="https://github.com/tatemae/muck-shares">Muck-Shares</a></h1>
    <img src="images/icons/shares3.png" class="icons" />
    <p>What's mine is yours. Let users share crap from all of the Internets.</p> 
  </div> 
  <div class="bl"></div><div class="small_bm"></div><div class="br"></div> 
</div> 
 
<div class="box">  
  <div class="tl"></div><div class="small_tm"></div><div class="tr"></div> 
  <div class="small_content"> 
    <h1><a href="https://github.com/tatemae/muck-raker">Muck-Raker</a></h1>
    <img src="images/icons/raker1.png" class="icons" />
    <p>Ruby meet Java. Raker lurks in the background aggregating, consuming, searching and recommending.</p> 
  </div> 
  <div class="bl"></div><div class="small_bm"></div><div class="br"></div> 
</div> 
 
<div class="box"> 
  <div class="tl"></div><div class="small_tm"></div><div class="tr"></div> 
  <div class="small_content"> 
    <h1><a href="https://github.com/tatemae/muck-resources">Muck-Resources</a></h1>
    <img src="images/icons/resources3.png" class="icons" /> 
    <p>Muck Resources is a one night stand. Add it. Use it for it's sexy resources then dump it.</p> 
  </div> 
  <div class="bl"></div><div class="small_bm"></div><div class="br"></div> 
</div>



<div class="clear_footer"></div> 

<div class="box"> 
  <div class="tl"></div><div class="small_tm"></div><div class="tr"></div> 
  <div class="small_content"> 
    <h1><a href="https://github.com/tatemae/muck-groups">Muck-Groups</a></h1> 
    <img src="images/icons/group.png" class="icons" />
    <p><span class="not-done">Not done</span> but muck groups will be incredible when it is.</p> 
  </div> 
  <div class="bl"></div><div class="small_bm"></div><div class="br"></div> 
</div> 
 
<div class="box"> 
  <div class="tl"></div><div class="small_tm"></div><div class="tr"></div> 
  <div class="small_content"> 
    <h1><a href="https://github.com/tatemae/muck-blogs">Muck-Blogs</a></h1> 
    <img src="images/icons/blog.png" class="icons" />
    <p><span class="not-done">Not done.</span> We kept thinking this wouldn't be that hard....</p> 
  </div> 
  <div class="bl"></div><div class="small_bm"></div><div class="br"></div> 
</div> 
 
<div class="box"> 
  <div class="tl"></div><div class="small_tm"></div><div class="tr"></div> 
  <div class="small_content"> 
    <h1><a href="https://github.com/tatemae/muck-events">Muck-Events</a></h1> 
    <img src="images/icons/events3.png" class="icons" />
    <p><span class="not-done">Not done.</span> Feel free to fork it and add an event system. We're sure you'll do a great job. Then we'll steal your code.</p> 
  </div> 
  <div class="bl"></div><div class="small_bm"></div><div class="br"></div> 
</div>


<div class="clear_footer"></div> 

<div class="box"> 
  <div class="tl"></div><div class="small_tm"></div><div class="tr"></div> 
  <div class="small_content"> 
    <h1><a href="https://github.com/tatemae/muck-feedbag">Muck-Feedbag</a></h1> 
    <img src="images/icons/feedbag.png" class="icons" />
    <p>We like to fork. Muck feedbag was borrowed, beaten and made to work with the muck framework.</p> 
  </div> 
  <div class="bl"></div><div class="small_bm"></div><div class="br"></div> 
</div> 
 
<div class="box"> 
  <div class="tl"></div><div class="small_tm"></div><div class="tr"></div> 
  <div class="small_content"> 
    <h1><a href="https://github.com/jbasdf/disguise">Disguise</a></h1> 
    <p>Many faces from one site. Disguise adds themes to your Rails app.</p> 
  </div> 
  <div class="bl"></div><div class="small_bm"></div><div class="br"></div> 
</div> 
 
<div class="box"> 
  <div class="tl"></div><div class="small_tm"></div><div class="tr"></div> 
  <div class="small_content"> 
    <h1><a href="https://github.com/jbasdf/babelphish">Babelphish</a></h1> 
    <p>Auto translate your yml and html files with Google. Speak to me in tongues.</p> 
  </div> 
  <div class="bl"></div><div class="small_bm"></div><div class="br"></div> 
</div> 
 
<div class="box"> 
  <div class="tl"></div><div class="small_tm"></div><div class="tr"></div> 
  <div class="small_content"> 
    <h1><a href="https://github.com/jbasdf/uploader">Uploader</a></h1> 
    <p>Get files from here to there.</p> 
  </div> 
  <div class="bl"></div><div class="small_bm"></div><div class="br"></div> 
</div>
<div class="clear_footer"></div> 

<div id="column_left"> 
  <h2>Testimonials</h2> 
  <p>I wish I had found this sooner. I'm going to muck all my apps. <br /> <span class="testifier">-- happy mucker</span></p> 
  <p>&nbsp;</p> 
  <p>This is the stupidest name I have ever heard. <br /> <span class="testifier">-- angry mucker</span></p> 
  <p>&nbsp;</p> 
  <p>I just want to say thanks for making my first time building a Ruby on Rails app amazing.<br /> <span class="testifier">-- first time mucker</span></p> 
  <p>&nbsp;</p> 
  <p>It's so easy to build prototypes with muck it's vulgar. I'm getting rich mucking my client's apps in no time at all. <br /> <span class="testifier">-- clever mucker</span></p> 
  <p>&nbsp;</p> 
  <p>This is mucking amazing! <br /> <span class="testifier">-- anonymous mucker</span></p>
  <br /> 
</div>

<div id="column_right"><h2>About</h2> 
  <p>Muck is a group of Ruby on Rails 3 engines that add common functionality like user management, friends, activity streams, commerce and content management.</p> 
  <p>&nbsp;</p> 
  <p>Muck lets you focus on the specifics of your application rather than implement common functionality over and over again</p> 
  <p>&nbsp;</p> 
  <p>We use it as the basis for all of our projects which let's us get stuff done faster. We love Ruby. We love Rails. We love sharing.</p> 
  <p>&nbsp;</p> 
  <p>Muck is open source and all around free. If you have problems we love to watch people forking muck. Clone your favorite engine, do your thing and make a pull request. We'll respond ASAP.</p> 
  <p>&nbsp;</p> 
  <p></p> 
</div>

<div class="clear_footer"></div>