<div class="common-content">
  <h1>Wow you guys are obscene</h1>
  <p>I have no flipping idea what you're talking about. Now what the flip (WTF) is muck besides the stuff left in the stables at the end of the day?</p>
  <p>We grew tired of writing the same code over and over. Ruby on Rails makes it easy, but copying and pasting from one app to the next was tedious and boring. 
    We began exploring gems as way to share code. That worked well in Rails 2. Rails 3 introduced engines and we could be happier.</p>
  <h2>Muck Is</h2>
  <p>Muck is the stuff left over, the commodity code, the boring crud you write over and over again except that we've written it once and now you can reuse it 
    over and over. Check out the links to each of the gems or better yet use our template generator to quickly build a muck app and play with it yourself.</p>
  <h2>Muck Is Not</h2>
  <p>Muck isn't a CMS. It isn't an out of the box solution. Muck is meant for developers. We make no assumptions about your UI. We do provide a very simple admin UI
    that can be easily extended. Muck does included translations by default that are curtesy of Babelphish. However, the translations are machine generated. Use at 
    your own peril. We're not responsible if the machine translates 'Welcome to my app' as 'I will beat your mother'.</p>
  <h2>What Now?</h2>
  <p>Go build an app. Here's the <a href="https://github.com/jbasdf/rails-templates">Rails template</a>.</p>
  <h2>This Is a Steaming Pile of !#@$</h2>
  <p>You can email us to let us know how you feel, but we'd prefer you go fork the code and make it better. We've taken contributions from a number of people and 
    we'd be happy to take yours too.</p>
</div>