@charset "utf-8";
/* GENERAL */
html,body{margin:0;padding:0;}
img{border-style:none;}
h1{font-size:20px;font-family:Verdana,Arial,Helvetica,sans-serif;color:#FFF;font-weight:bold;padding:0px;margin:0px;}
h2{font-size:20px;font-family:Verdana,Arial,Helvetica,sans-serif;color:#00aae5;font-weight:normal;padding:0px;text-transform:uppercase;margin-top:0px;margin-right:0px;margin-bottom:15px;margin-left:0px;}
h3{font-size:16px;font-family:Verdana,Arial,Helvetica,sans-serif;font-weight:bold;color:#00aae5;margin-left:10px;margin-top:0px;margin-bottom:0px;}
h4{font-size:14px;font-family:Verdana,Arial,Helvetica,sans-serif;font-weight:bold;color:#00aae5;text-transform:uppercase;margin:0px;padding:0px;}
h5{font-size:10px;font-family:Verdana,Arial,Helvetica,sans-serif;font-weight:bold;color:#EE9C30;text-transform:uppercase;margin:0px;}
a:link{color:#FFF;text-decoration:none;}
a:visited{color:#FFF;text-decoration:none;}
a:hover{color:#00AAE5;text-decoration:none;}
a:active{color:#00AAE5;text-decoration:none;}
#nav ul{}
ul{margin-top:5px;margin-left:0px;padding-left:10px;font-size:14px;color:#FFF;}
li{list-style-type:none;padding:0px;}
/* SPECIFIC IDS & CLASSES */
#container{background-color:#FFFFFF;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:10px;color:#646464;position:absolute;height:auto;width:100%;left:0px;top:0px;}
#content_container{height:100%;width:1000px;margin-left:-500px;position:relative;left:50%;z-index:10;}
#feedback{margin:0px;padding:0px;height:120px;width:30px;position:fixed;top:190px;left:-5px;z-index:10;}
#header{height:105px;width:100%;padding-top:10px;}
#login_nav{float:right;width:700px;padding-right:5px;height:100px;}
#logo{float:left;width:280px;}
#signup{height:25px;width:145px;float:right;}
#login{float:right;width:75px;text-align:left;padding-top:7px;padding-right:30px;}
#contact{float:right;width:240px;padding-top:7px;padding-right:30px;text-align:left;}
#nav{float:right;width:700px;text-align:right;padding-top:25px;}
#navlist li{display:inline;list-style-type:none;font-size:18px;text-transform:uppercase;text-decoration:none;font-weight:bold;padding-left:20px;}
#nav a:link{color:#000000;text-decoration:none;font-weight:normal;}
#nav a:visited{color:#000;text-decoration:none;}
#nav a:hover{color:#3E63A1;text-decoration:none;}
#nav a:active{color:#3E63A1;text-decoration:none;}
/* COLUMNS */
#column_left{float:left;height:100%;width:480px;padding-left:5px;margin-top:20px;font-size:12px;line-height:18px;}
#column_right{float:right;height:100%;width:480px;padding-right:5px;margin-top:20px;font-size:12px;line-height:18px;}
.clear_footer{height:10px;width:100%;clear:both;}
/*-------------------------FOOTER---------------------------*/
#footer{height:290px;width:100%;float:left;background-color:#000000;margin-top:50px;bottom:0px;}
#footer_container{height:70px;width:1000px;margin-left:-500px;position:relative;left:50%;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:12px;color:#FFFFFF;z-index:10;padding-top:20px;}
.footer_column1{float:left;text-align:left;height:230px;width:230px;}
#footer_column2{float:right;height:230px;width:300px;padding-top:20px;vertical-align:middle;}
/*BIG ROUNDED CORNERS */
.box{float:left;margin-left:5px;margin-right:5px;}
.tl{width:5px;height:5px;background:url(/images/rounded.png) no-repeat top left;float:left;}
.big_tm{width:980px;height:5px;float:left;background-color:#00aae5;}
.tr{width:5px;height:5px;background:url(/images/rounded.png) no-repeat top right;float:left;}
p{margin:0px;padding:0px;}
.big_content{width:970px;min-height:350px;clear:left;background-color:#00aae5;padding-top:0;padding-right:10px;padding-bottom:0;padding-left:10px;}
.bl{width:5px;height:5px;background:url(/images/rounded.png) no-repeat bottom left;clear:both;float:left;}
.big_bm{width:980px;height:5px;float:left;background-color:#00aae5;}
.br{width:5px;height:5px;background:url(/images/rounded.png) no-repeat bottom right;float:left;}
/*SMALL ROUNDED CORNERS */
.small_tm{width:230px;height:5px;float:left;background-color:#00aae5;}
.small_content{width:210px;height:110px;clear:left;background-color:#00aae5;padding-top:20px;padding-right:10px;padding-bottom:0;padding-left:20px;}
.small_bm{width:230px;height:5px;float:left;background-color:#00aae5;}

/*home*/
#instructions{background-color:#FFFFFF;float:left;height:340px;margin:4px 0 0;width:570px;padding:4px;}
