<div id="footer"> 
  <div id="footer_container"> 
    <div class="footer_column1"> 
      <h3>Site Links</h3> 
      <ul> 
        <li><a href="wtf-is-muck">WTF is Muck?</a></li> 
        <li><a href="how-it-works">How It Works</a></li> 
      </ul>
    </div>
    <div class="footer_column1"> 
      <h3>About Us</h3> 
      <ul> 
        <li><a href="http://www.tatemae.com">We are Tatemae.com</a></li> 
      </ul> 
    </div>
    <div class="footer_column1"> 
      <h3>Need Help Mucking Your Rails App?</h3> 
      <ul>
        <li><a href="mailto:info@tatemae.com">Contact Us</a></li>
      </ul> 
    </div>
    <div align="right" id="footer_column2">     
      &copy; Copyright 2011 <a href="http://www.tatemae.com">Tatemae.com</a>. <br /> 
      All rights reserved
    </div>
  </div>
</div>


